@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap');

.modal-background {
    font-family: 'Urbanist', sans-serif;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 5;

    .modal {
        position: relative;
        top: 3%;
        left: 27%;
        width: 35%;


        padding: 15px;
        border-radius: 7px;
        background: white;


        form{
            display: flex;
            flex-direction: column;
            height: 70vh;
            overflow: scroll;

            h1{
                font-size: 20px;
                padding: 8px;
            }

            hr {
                align-self: flex-start;
                border: 0;
               
                display:block;
                width: 100%;               
                background-color:lightgrey;
                height: 1px;
              }

            .post-user-header {

                display: flex;
                justify-content: flex-start;
                align-items: center;
        
                padding-bottom: 20px;
        
                .profile{
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    background: red;
                }
                .name-title-recency{
                    height: 50px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: flex-start;
                    margin-left: 5px;
                    h3{
                        font-size: 17px;
                        font-weight: bold;
                        padding-bottom: 3px;
                    }
        
                    h4, h5{
                        font-size: 12px;
                        color: darkgrey;
                    }
        
                    
        
                }
            }

            textarea{
                font-size: 15px;
                border: none;
                color: black;
                height: 150px;
                resize: none;
                outline: none;
                
            }

            .uploaded-image{
                width: 100%;
            }

            div{
                display: flex;
                justify-content: space-between;

                input{
                    width: 100px;
                    height: 2.6em;
                    box-sizing: border-box;
                    border-radius: 24px;
                    border: none;
                    
                    
                    font-family: 'Urbanist', sans-serif;
                    font-size: 18px;
                    color: white;
    
                    cursor: pointer;
                    
                    background:rgb(10, 100, 200);
    
                    
            
                    &:hover {
                        background: darken(rgb(10, 100, 200), 20%);
                    }
                    
        
                }
            }


            .file-input {
                
            }

        }
        

        .close {
            position: absolute;
            top: 3px;
            right: 3px;
            cursor: pointer;
        }
    }
}

