.section{
    border-radius: 8px;
    border: 1px solid lightgrey;
    background: white;
    padding: 10px;
}

.create-post {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    margin-top: 20px;

    padding-bottom: 0px;
    
    .profile-button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        

        .pfp{
           

            img{
                margin-top: 5px;
                height: 50px;
                width: 50px;

                border-radius: 50%;

                margin-bottom: 5px;
            }

            .empty-profile{
                border: 2px solid white;
                border-radius: 50%;
                height: 50px;
                width: 50px;
    
                
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
                color: black;
    
                background-color: lightgrey;
            }
        }
        
        input{
            width: 85%;
            height: 50px;
            border-radius: 24px;
            border: 1px solid rgb(128, 128, 128);
            background: white;
            text-align: left;
            font-size: 14px;
            color: rgb(128, 128, 128);
            font-weight: bold;
            cursor: pointer;

            &:hover{
                background: lightgrey;
            }
        }
    }

    .buttons{
        
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        div {
            display: flex;
            justify-content: center;
            height: 30px;
            padding: 8px 4px 8px 4px;
            margin: 5px;

            cursor: pointer;
            border-radius: 7px;
            
            align-items: center;

            &:hover{
                background: lightgrey;
            }
            .icon{
                height: 25px;
                width: 25px;
                align-self: flex-start;
                margin-bottom: -3px;
            }

            .blue{
                fill: rgb(85, 182, 214);
            }

            .pink{
                fill: rgb(245, 158, 171)
            }

            p{
                margin-left: 10px;
                color: rgb(105, 105, 105);
            }
        }
    }


}

.post-index{



    background: rgb(226, 226, 218);
    height: 100%;
    margin-top: 20px;
    border: none;

    padding: 0px;

    
    hr{
        
        border: 0;
        background-color: rgb(156, 156, 156);
        height: 1px;
        width: 95%;
        color: grey;
        margin-bottom: 15px;
        margin-top: -5px;
    }
    
}