@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap');

.feed-main{
    display: grid;
    grid-template-columns: 40% 1fr 1fr;
    gap: 20px;

    font-family: 'Urbanist', sans-serif;

    .middle-feed{
        grid-column: 2/2;

        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;

    }

}