@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap');

.feed-main{
    display: grid;
    grid-template-columns: 25% 40% 1fr;
    gap: 20px;

    width: 100vw;
    height: 90vh;

    background: rgb(226, 226, 218);

    font-family: 'Urbanist', sans-serif;

    .middle-feed{
        grid-column: 2/2;

        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;

    

    }

}