
header{
    
    position: sticky;
    top: 0;
    z-index: 4;
}

.nav{
    font-family: 'Open Sans', sans-serif;
    display: grid;

    grid-template-columns: 1fr 50px 3fr 2fr 2fr;
    background-color: white;
    

    .ln {
        justify-self: start;
        grid-column: 2;
        fill: rgb(10, 100, 200);
        height: 40px;
        width: 40px;
        align-self: center;
    }


    .nav-buttons{
        justify-self: end;
        grid-column: 4;
        display: flex;
        justify-content: center;
        .home{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            width: 50px;
            .home-icon{
                height: 25px;
                width: 25px;
                fill: rgb(82, 82, 82);
            }
            text-decoration: none;

            h4{
                font-size: 12px;
                text-decoration: none;
                color: rgb(82, 82, 82);
            }

            padding-bottom: 2px;
            
        }
    
        .profile{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 80px;

            .profile-icon{
                margin-top: 5px;
                margin-bottom: 2px;
                height: 25px;
                width: 25px;
                border-radius: 50%;
                background-color: red;
            }
            text-decoration: none;
            h4{
                font-size: 12px;
                color: rgb(116, 116, 116);
            }
        }   
        .selected {
            border-bottom: 2px solid black;
            .home-icon{
                fill: black;

            }
            h4{
                color: black;
            }
            
        }
    }
}

.search-container{
    align-self: center;
    justify-content: center;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(228, 230, 241);
    height: 40px;
    width: 200px;
    border-radius: 4px;
    box-sizing: content-box;
    transition-duration: .5s;

    grid-column: 3;
    label{
        position: absolute;
        left: 42px;
        pointer-events: none;
        color: dimgray;
    }

    .FaSearch{
        position: absolute;
        left: 10px;
        color: dimgray;
    }

    input{
        border: none;
        position: absolute;
        left: 40px;
        background-color: rgb(228, 230, 241);
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        width: 150px;

        transition-duration: .5s;

        &:focus{
            outline: none;
        }

    }
    .hide{
        visibility: hidden;
    }
    
    
    
}

.search-container:focus-within{
    width: 310px;
    input{
        width: 260px;
    }
}