.post{
    margin: 5px 0px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 0px;

    position: relative;

    .ddd-button{
        background-color: white;
        border: none;
        position: absolute;
        top: 7px;
        right: 5px;
        
        

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 50%;
        height: 35px;
        .dots-icon{
            height: 25px;
            width: 25px;
            color: rgb(82, 82, 82);

            border-radius: 50%;
            font-size: 25px;
        }
        &:hover{
            background: rgb(228, 228, 228);
        }

        
        .show-dots{
            position: absolute;
            background-color: white;
            padding-top: 5px;
            padding-bottom: 5px;
            border-radius: 7px;

            z-index: 50;
            right: 0;
            top: 30px;
            display: flex;
            flex-direction: column;
            
            box-shadow: 0px 0px 10px 1px lightgrey;
            div{
                display: flex;
                width: 200px;
                padding: 10px;
                align-items: center;
                
                cursor: pointer;
                .pencil{
                    fill: rgb(82, 82, 82);
                    height: 20px;
                    width: 20px;
                }

                h3{
                    padding-left: 5px;
                    font-weight: bold;
                }

                &:hover{
                    background-color: lightgrey;
                }
            }

        }

        .clear{
            visibility: hidden;
        }
    }

    .post-user-header {

        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 10px;
        padding-bottom: 20px;

        .pfp{
            margin: 5px;
            img{
                margin-top: 5px;
                height: 60px;
                width: 60px;

                border-radius: 50%;
            }

            .empty-profile{
                
                border: 2px solid white;
                border-radius: 50%;
                height: 60px;
                width: 60px;
    
                
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
    
                background-color: lightgrey;
            }
        }

        .name-title-recency{
            height: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start;
            margin-left: 5px;
            h3{
                font-size: 17px;
                font-weight: bold;
                padding-bottom: 3px;
            }

            h4, h5{
                font-size: 12px;
                color: darkgrey;
            }

            

        }
    }

    p{
        font-size: 14px;
        padding: 10px;
    }

    img{
        width: 100%;
    }
}