.profile-base{
    display: grid;
    grid-template-columns: 12.5% 1fr 30%;

    width: 100vw;


    font-family: 'Open Sans', sans-serif;
    background: rgb(226, 226, 218);
    min-height: 100vh;

    .identity{
        grid-column: 2/2;
    }

    .about{
        grid-column: 2/2;
    }

    .work{
        grid-column: 2/2;
    }

    .edu{
        grid-column: 2/2;
    }
}