.identity{
    background-color: white;
    position: relative;
    
    border-radius: 10px;

    margin: 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .default-background{
        border-top-left-radius:  10px;
        border-top-right-radius: 10px ;
        max-width: 100%;
        min-height: 190px;
        object-fit: cover;
    }

    .user-profile{
        width: 150px;
        height: 150px;
        position: absolute;
        top: 90px;
        left: 20px;
        background-color: lightgrey;

        border: 5px solid white;
        border-radius: 50%;

        cursor: pointer;
    }

    .edit-pencil-circle{
        position: absolute;

        
        
        fill: rgb(107, 107, 107);
        top: 210px;
        right: 20px;
        border-radius: 50%;
        
        height: 35px;
        width: 35px;

        &:hover{
            background-color: rgb(216, 216, 216);
            cursor: pointer;
        }

        display: flex;
        justify-content: center;
        align-items: center;
        .edit-pencil{
            height: 20px;
            width: 20px;
        }
    }
    .name-pro{
        display: flex;
        align-items: flex-end;

        p{
            margin-top: 70px;
            margin-left: 10px;
            font-size: 20px;
        }


    }

    h1{
        margin-top: 70px;
        margin-left: 30px;
        font-weight: bold;
        font-size: 30px;
        letter-spacing: 0px;
    }

    h2{
        margin-left: 30px;
        font-size: 19px;
    }
    h3{
        margin-left: 30px;
        font-size: 15x;
        color: grey;
        margin-bottom: 10px;
    }
}